# Inteligentná analýza údajov 2019/2020 - Projekt
## Druhá časť - predspracovanie
## Ondrej Jedinák, František Tibenský

In [93]:
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.display import display

pd.options.display.max_colwidth=130
pd.set_option("display.max_columns", None)

## Konfigurácia

In [94]:
IN_PERSONAL = "data/personal_train.csv"
IN_OTHER = "data/other_train.csv"
OUT = "preprocessed.csv"
DATUM = "now"

## ---------------------

In [95]:
personal_data = pd.read_csv(IN_PERSONAL, index_col=0)
data = pd.read_csv(IN_OTHER, index_col=0)

In [96]:
for ds in [personal_data, data]:
    cls=ds.columns
    cl2=[]
    for cl in cls:
        cl2.append(cl.replace("-","_"))
    ds.rename(columns={i:j for i,j in zip(cls,cl2)}, inplace=True)

Nastavíme konzistentné názvy atribútov pre lepšiu prehľadnosť.

In [97]:
for ds in [data, personal_data]:
    for col in ds:
        if ds[col].dtype=='object':
            ds[col]=ds[col].str.strip()

data=data.replace('?',np.NaN)
data=data.replace('??',np.NaN)

Odstránime zo všetkých textových atribútov prázdne znaky na začiatku a konci a zmeníme hodnoty s otáznikmi na NaN.

In [98]:
display(personal_data.head())
data.head()

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH 53211",58,Male,1961-03-11
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN 57550",56,Female,1962/11/20
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",59,Male,11/12/1959
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Female,1953-03-18
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 77139",64,Male,1954-12-12

,name,address,race,marital_status,occupation,pregnant,education_num,relationship,skewness_glucose,mean_glucose,capital_gain,kurtosis_glucose,education,fnlwgt,class,std_glucose,income,medical_info,native_country,hours_per_week,capital_loss,workclass
0,Ernest Valles,"698 Miller Gateway Apt. 970\r\nClayside, ND 13457",White,Married-civ-spouse,Adm-clerical,f,10.0,Husband,0.198684,105.859375,0.0,0.222954,Some-college,343789.0,0.0,48.744348,>50K,"{'mean_oxygen':'0.790133779','std_oxygen':'10.13249696','kurtosis_oxygen':'17.68151382','skewness_oxygen':'374.9257754'}",United-States,40.0,0.0,State-gov
1,Michael Kowal,"4784 Walters Extensions\r\nEast Whitney, NH 27458",White,NaN,Sales,F,13.0,Not-in-family,-0.334631,120.453125,0.0,-0.049047,Bachelors,188957.0,0.0,50.982512,<=50K,"{'mean_oxygen':'18.69147157','std_oxygen':'51.21049055','kurtosis_oxygen':'2.541428789','skewness_oxygen':'4.930561896'}",United-States,40.0,0.0,Self-emp-not-inc
2,Mike Rogers,"068 Baker Estates Apt. 300\r\nRoberttown, NV 50205",White,Married-civ-spouse,Sales,f,13.0,Husband,0.030878,117.257812,0.0,0.121774,Bachelors,112283.0,0.0,42.893263,<=50K,"{'mean_oxygen':'1.150501672','std_oxygen':'11.49825164','kurtosis_oxygen':'16.48789423','skewness_oxygen':'320.6702352'}",United-States,55.0,0.0,Private
3,Marvin Cherry,"75326 Odom Drive\r\nNorth Robert, SC 99612",White,Married-civ-spouse,Farming-fishing,f,9.0,Husband,0.636882,99.429688,0.0,0.349696,HS-grad,166416.0,0.0,43.658777,<=50K,"{'mean_oxygen':'0.387123746','std_oxygen':'8.683190316000001','kurtosis_oxygen':'25.389201','skewness_oxygen':'685.06342239999...",United-States,99.0,0.0,Self-emp-not-inc
4,Bernard Williams,"258 Valerie Throughway\r\nSouth Samanthafort, TX 69130",Black,Widowed,Other-service,f,700.0,Not-in-family,0.105785,109.382812,0.0,0.232842,11th,462440.0,0.0,48.991568,<=50K,"{'mean_oxygen':'0.945652174','std_oxygen':'12.0495586','kurtosis_oxygen':'14.8422644','skewness_oxygen':'245.358921'}",United-States,20.0,0.0,Private

## date_of_birth

Tento atribút má nekonzistentné formáty dátumov.

Možne formáty dátumov:

1. yyyy-mm-dd
1. yyyy/mm/dd
1. yy-mm-dd
1. dd/mm/yyyy
1. yyyy-mm-dd 00:00:00
1. yyyy-mm-dd 00 00 00

In [99]:
personal_data["date_of_birth"]=personal_data["date_of_birth"].str.replace(" .*","")
personal_data["date_of_birth"]=personal_data["date_of_birth"].str.replace("/","-")
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'([0-9]{2})-([0-9]{2})-([0-9]{4})', r'\3-\2-\1')

personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^(19-[0-9]{2}-[0-9]{2})',r'19\1')
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^([2-9][0-9]-[0-9]{2}-[0-9]{2})',r'19\1')
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^([0-1][0-9]-[0-9]{2}-[0-9]{2})',r'20\1')

chceme všetky dátumy dostať do 1. formátu
- odstránime časové hodnoty
- zmeníme všetky / na -
- prehodíme rok a deň pri 4. prípade
- doplníme prvé dve cifry roku pre 3. prípad

In [100]:
personal_data["date_of_birth"].str.contains("(^[0-9]{4}-((0[0-9])|(1[0-2]))-([0-2][0-9]|(3)[0-1])$)").unique()

D:\Python\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

array([ True])

Kontrola či sú formáty jednotné.

## age

Zistíme rozdiely vo vekoch a dátumoch narodenia.

In [101]:
((pd.to_datetime(DATUM)-pd.to_datetime(personal_data["date_of_birth"])).astype('<m8[Y]')-personal_data["age"]).value_counts()

0.0    3622
1.0     311
dtype: int64

V dátumoch narodenia a vekoch nie sú žiadne výrazné nezrovnalosti. Jediný problém je že niektoré veky neboli aktualizované pre aktuálny dátum. Tiež neexistuje žiaden dátum pre ktorý by neboli aspoň niektoré veky o jeden rok posunuté. Preto si nanovo vypočítame veky k jednotnému dátumu.

In [102]:
personal_data["age"]=((pd.to_datetime(DATUM)-pd.to_datetime(personal_data["date_of_birth"])).astype('<m8[Y]'))

Keďže nám bude ďalej celý dátum narodenia zbytočný lebo máme vek, ponecháme len mesiac narodenia.

In [103]:
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'([0-9]{4})-([0-9]{2})-([0-9]{2})', r'\2').astype(str).astype(int)
personal_data.rename(columns={"date_of_birth": "birth_month"},inplace=True)

## workclass

Opravíme nekonzistentné začiatočné písmená.

In [104]:
data["workclass"]=data["workclass"].str.capitalize()
data["workclass"].value_counts(dropna=False)

Private             2737
Self-emp-not-inc     304
Local-gov            266
NaN                  256
State-gov            146
Self-emp-inc         145
Federal-gov          125
Without-pay            3
Never-worked           1
Name: workclass, dtype: int64

## pregnant

In [105]:
data["pregnant"]=data["pregnant"].str.lower()
data["pregnant"]=data["pregnant"].str.replace("(^f$)|(^false$)","False")
data["pregnant"]=data["pregnant"].str.replace("(^t$)|(^true$)","True")
data["pregnant"].value_counts(dropna=False)

False    3888
True       83
NaN        12
Name: pregnant, dtype: int64

Nekonzistentné hodnoty zmeníme tak aby boli len True alebo False (a NaN).

## rozdelenie medical_data

In [106]:
data['medical_info']=data['medical_info'].replace(np.NaN,"{}")
data['medical_info']=data['medical_info'].str.replace("'",'"')
data=data.join(data['medical_info'].apply(json.loads).apply(pd.Series).astype(float))
data = data.drop(columns='medical_info')

Rozparsujeme hodnoty v JSON v medcal_data na samostatné stĺpce. Najprv však nahradíme NaN prázdnymi objektami a zmeníme uvodzovky aby boli validné pre JSON.

## education

In [107]:
data['education']=data['education'].str.replace("_","-")
data['education'].value_counts()

HS-grad         1279
Some-college     910
Bachelors        661
Masters          207
Assoc-voc        151
Assoc-acdm       136
11th             122
10th             114
7th-8th           92
Prof-school       68
9th               63
12th              47
Doctorate         46
5th-6th           45
1st-4th           14
Preschool         10
Name: education, dtype: int64

Zjednotíme nahradenie medzier v hodnotách.

## education_num

In [108]:
def edu_num_fix(val):
    if val<0:
        val*=-1
    if val>100:
        val/=100
    return val
data['education_num']=data['education_num'].apply(edu_num_fix)
data.education_num.value_counts()

9.0     1151
10.0     827
13.0     589
14.0     185
11.0     141
12.0     125
7.0      109
6.0       99
4.0       82
15.0      59
5.0       59
8.0       45
16.0      41
3.0       39
2.0       13
1.0        6
Name: education_num, dtype: int64

Zjednotíme hodnoty tak aby nám zostali len hodnoty od 1 do 16.

In [109]:
for i in range(1,17):
    print(str(data['education'][data.education_num==i].value_counts()))

Preschool    6
Name: education, dtype: int64
1st-4th    13
Name: education, dtype: int64
5th-6th    39
Name: education, dtype: int64
7th-8th    81
Name: education, dtype: int64
9th    59
Name: education, dtype: int64
10th    99
Name: education, dtype: int64
11th    108
Name: education, dtype: int64
12th    45
Name: education, dtype: int64
HS-grad    1147
Name: education, dtype: int64
Some-college    823
Name: education, dtype: int64
Assoc-voc    141
Name: education, dtype: int64
Assoc-acdm    125
Name: education, dtype: int64
Bachelors    587
Name: education, dtype: int64
Masters    184
Name: education, dtype: int64
Prof-school    59
Name: education, dtype: int64
Doctorate    41
Name: education, dtype: int64

In [110]:
edu={}
for i in range(1,17):
    edu[str(data['education'][data.education_num==i].value_counts()).split(" ")[0]]=i
edu

{'Preschool': 1,
 '1st-4th': 2,
 '5th-6th': 3,
 '7th-8th': 4,
 '9th': 5,
 '10th': 6,
 '11th': 7,
 '12th': 8,
 'HS-grad': 9,
 'Some-college': 10,
 'Assoc-voc': 11,
 'Assoc-acdm': 12,
 'Bachelors': 13,
 'Masters': 14,
 'Prof-school': 15,
 'Doctorate': 16}

Zistili sme že education_num je len číselná verzia eduaction. Doplníme podľa toho chýbajúce hodnoty education_num a stĺpec education môžeme zmazať.

In [111]:
def edu_to_num(val):
    if val in edu:
        return edu[val]
    else:
        return np.NaN
    
data['education']=data['education'].apply(edu_to_num)
data['education'].fillna(data['education_num'], inplace=True)

data['education'].value_counts(dropna=False)
data = data.drop(columns=['education_num'])

## Odstránenie duplikátov

In [112]:
def aggr(val):
    o=set()
    for v in val:
        if not pd.isna(v):
            o.add(v)
    if len(o)==0:
        return np.NaN
    elif len(o)>1:
        print("Pozor: viac moznych hodnot!")
        print(o)
    return o.pop()
    
data=data.groupby(['name', 'address']).aggregate(aggr)

Záznamy s rovnakými menami a adresami zjednotíme a doplníme ich hodnoty pomocou agregačnej funkcie.

## Spojenie dvoch tabuliek

In [113]:
data=data.merge(personal_data, on=('name', 'address'))

In [114]:
data.address=data.address.str.replace(r".*\r\n[A-Za-z ]+,? ([A-Z]{2}).*",r"\1")

In [115]:
data.rename(columns={"address": "state"},inplace=True)

## spojenie capital_loss a capital_gain

In [116]:
data.isnull().sum()

name                  0
state                 0
race                  1
marital_status      393
occupation          238
pregnant              0
relationship          0
skewness_glucose      1
mean_glucose          0
capital_gain          0
kurtosis_glucose      1
education             0
fnlwgt                0
class                 0
std_glucose           0
income                1
native_country       81
hours_per_week        0
capital_loss          0
workclass           238
mean_oxygen           1
std_oxygen            1
kurtosis_oxygen       1
skewness_oxygen       1
age                   0
sex                   0
birth_month           0
dtype: int64

In [117]:
data = data.assign(capital=np.NaN)
data.capital = data.capital_gain - data.capital_loss
data = data.drop(columns=['capital_loss','capital_gain'])

In [118]:
data.head(100)

,name,state,race,marital_status,occupation,pregnant,relationship,skewness_glucose,mean_glucose,kurtosis_glucose,education,fnlwgt,class,std_glucose,income,native_country,hours_per_week,workclass,mean_oxygen,std_oxygen,kurtosis_oxygen,skewness_oxygen,age,sex,birth_month,capital
0,Aaron Davis,MD,White,Never-married,Prof-specialty,False,Not-in-family,25.996764,38.921875,4.751118,14.0,72880.0,1.0,31.821428,<=50K,United-States,40.0,Private,46.650502,66.122251,1.463561,1.411576,57.0,Female,5,0.0
1,Aaron Dini,KS,White,NaN,Prof-specialty,False,Husband,11.255049,61.460938,2.539502,13.0,43235.0,1.0,33.785376,>50K,United-States,50.0,Private,9.411371,39.407883,4.610877,21.099716,53.0,Male,5,0.0
2,Aaron Gann,UT,White,Never-married,Prof-specialty,True,Own-child,0.818221,150.062500,-0.327482,13.0,126613.0,0.0,42.052190,<=50K,United-States,8.0,Private,5.908863,25.735714,4.914792,26.461769,51.0,Female,5,0.0
3,Aaron Gregg,ME,White,Married-civ-spouse,Sales,False,Husband,0.573133,116.796875,0.275827,10.0,42251.0,0.0,46.736689,>50K,United-States,45.0,Private,5.130435,25.819246,5.966746,37.867530,54.0,Male,4,0.0
4,Aaron Lindley,AR,White,Married-civ-spouse,Other-service,False,Husband,37.449172,16.539062,5.971550,9.0,135102.0,1.0,30.500743,<=50K,United-States,45.0,Local-gov,67.451505,67.144170,0.905511,0.064850,54.0,Male,12,-2002.0
5,Aaron Manning,DC,White,Never-married,Adm-clerical,False,Not-in-family,0.203493,126.859375,0.001818,9.0,51047.0,0.0,45.451508,<=50K,United-States,25.0,Private,3.389632,20.382267,7.829814,70.000805,56.0,Female,1,0.0
6,Aaron Moody,MS,White,Married-spouse-absent,Sales,False,Not-in-family,30.428177,31.601562,5.036450,10.0,235556.0,1.0,29.498236,<=50K,Mexico,45.0,Private,33.494983,62.868452,2.061247,3.273828,67.0,Male,3,0.0
7,Aaron Noman,AA,White,Married-civ-spouse,Prof-specialty,False,Husband,0.332530,105.242188,0.112815,15.0,99835.0,0.0,44.526457,>50K,United-States,60.0,Private,3.340301,19.251949,7.984062,75.921964,22.0,Male,10,0.0
8,Aaron Robinson,MD,White,Married-civ-spouse,Prof-specialty,False,Husband,2.081514,85.445312,1.314571,15.0,65324.0,1.0,49.863534,>50K,United-States,40.0,Private,131.379599,71.988884,-0.473466,-0.579712,60.0,Male,5,0.0
9,Aaron Rogers,OH,White,Never-married,Craft-repair,False,Own-child,4.199041,80.468750,1.296000,10.0,138692.0,1.0,36.388300,<=50K,United-States,50.0,Private,46.872910,69.420130,1.347551,0.763489,56.0,Male,8,0.0
10,Aaron Spriggs,DE,White,Married-civ-spouse,Exec-managerial,False,Husband,-0.354230,134.414062,-0.158459,10.0,157747.0,0.0,52.341655,>50K,United-States,40.0,Private,5.510870,25.720566,5.646121,35.048233,43.0,Male,10,7298.0
11,Abel Love,CO,White,Never-married,NaN,False,Not-in-family,0.895623,110.070312,0.210934,10.0,170070.0,0.0,40.339610,<=50K,United-States,10.0,NaN,1.729097,13.524171,11.085472,151.951658,17.0,Female,4,0.0
12,Abraham Hefty,TX,White,NaN,Exec-managerial,False,Husband,1.264981,127.750000,-0.283429,13.0,135465.0,0.0,37.684131,>50K,United-States,50.0,Private,1.858696,14.153929,11.635566,165.838053,48.0,Male,6,0.0
13,Abraham Winkles,ME,White,Married-civ-spouse,Exec-managerial,False,Wife,0.098141,125.070312,0.353256,4.0,194259.0,0.0,50.398906,<=50K,United-States,50.0,Private,2.102007,14.228767,9.400485,115.340372,45.0,Female,11,0.0
14,Adalberto Daughters,AE,White,Married-civ-spouse,Handlers-cleaners,False,Husband,-0.042424,141.242188,-0.423370,5.0,95647.0,0.0,49.169469,<=50K,United-States,50.0,Private,5.470736,28.768944,6.083459,39.578610,42.0,Male,4,0.0
15,Adam Baskerville,AA,White,Never-married,Exec-managerial,False,Not-in-family,0.228740,130.695312,0.069649,13.0,158040.0,0.0,48.171821,<=50K,United-States,45.0,Private,6.374582,27.597292,4.704675,23.171140,67.0,Female,3,0.0
16,Adam Baugh,NH,White,Divorced,Sales,True,Unmarried,0.966060,90.304688,0.742012,12.0,50644.0,0.0,45.298413,<=50K,United-States,40.0,Self-emp-inc,3.177258,23.322453,7.785759,62.228717,49.0,Female,7,1506.0
17,Adam Bermudez,IN,White,Never-married,NaN,False,Own-child,0.025900,149.664062,-0.288796,6.0,344742.0,0.0,48.935429,<=50K,United-States,40.0,NaN,2.469900,13.877568,9.610459,128.961219,54.0,Male,12,0.0
18,Adam Chipman,MI,White,Divorced,Craft-repair,False,Not-in-family,1.945321,87.398438,1.118027,9.0,73023.0,1.0,44.428724,<=50K,United-States,55.0,Private,19.089465,52.506294,2.921471,7.584978,46.0,Male,2,0.0
19,Adam Daniel,WY,White,Married-civ-spouse,Craft-repair,False,Husband,-0.416735,110.281250,0.134786,10.0,89942.0,0.0,53.615229,<=50K,United-States,40.0,Self-emp-not-inc,1.380435,15.159241,12.617156,171.150528,50.0,Male,7,0.0
20,Adam Duncan,WY,White,Never-married,Sales,False,Other-relative,0.044239,134.414062,0.362548,9.0,189461.0,0.0,48.286503,<=50K,United-States,55.0,Private,1.693980,14.507523,10.519586,128.338840,52.0,Male,8,0.0
21,Adam George,OK,White,Married-civ-spouse,Handlers-cleaners,False,Husband,10.138266,54.257812,2.979318,10.0,123606.0,1.0,41.582231,<=50K,United-States,40.0,Private,159.611204,64.792196,-0.936519,0.093108,66.0,Male,1,0.0
22,Adam Kowal,CO,Other,Never-married,Sales,False,Own-child,2.375737,86.578125,0.520048,10.0,195248.0,0.0,36.946458,<=50K,United-States,20.0,Private,1.307692,11.807641,14.217960,248.389691,50.0,Female,8,0.0
23,Adam Perry,HI,Asian-Pac-Islander,Never-married,NaN,False,Unmarried,0.072007,123.507812,0.175955,13.0,190650.0,0.0,47.411924,<=50K,Philippines,25.0,NaN,1.537625,13.373628,12.884658,196.241843,46.0,Male,6,0.0
24,Adam Porter,PA,White,Married-civ-spouse,Exec-managerial,True,Wife,0.437049,126.296875,0.178590,13.0,168943.0,0.0,46.356189,>50K,United-States,30.0,Private,2.011706,12.447073,10.646090,164.083299,61.0,Female,1,0.0
25,Adam Sprague,NJ,White,Divorced,Priv-house-serv,False,Unmarried,-0.387586,115.226562,0.207267,13.0,238397.0,0.0,52.921701,<=50K,United-States,24.0,Private,16.710702,51.156442,2.932071,7.124125,57.0,Female,10,0.0
26,Adan Browder,AZ,White,Married-civ-spouse,Prof-specialty,False,Wife,0.428411,107.062500,0.399665,14.0,103260.0,0.0,48.126258,>50K,United-States,35.0,Local-gov,2.603679,17.688643,8.471276,85.286774,46.0,Female,7,0.0
27,Adolfo Wamsley,AA,Black,Married-civ-spouse,Handlers-cleaners,False,Husband,19.898972,41.320312,3.888586,9.0,339772.0,1.0,32.396454,<=50K,United-States,40.0,Private,12.459866,44.008561,3.882441,14.737981,40.0,Male,6,0.0
28,Adrian Alford,UT,White,Never-married,Adm-clerical,False,Not-in-family,0.415418,85.460938,0.707140,13.0,26892.0,0.0,51.887785,<=50K,United-States,40.0,State-gov,26.332776,56.487898,2.041763,2.829611,55.0,Male,2,0.0
29,Adrian Alnutt,AK,White,Married-civ-spouse,Adm-clerical,False,Husband,19.738574,52.109375,3.699437,13.0,180342.0,1.0,32.661195,<=50K,United-States,40.0,Private,47.091973,82.489332,1.406347,0.331635,80.0,Male,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Alexander Endicott,MD,White,Widowed,NaN,False,Not-in-family,1.629229,94.242188,0.490930,3.0,96867.0,0.0,38.088660,<=50K,United-States,40.0,NaN,0.897157,11.762503,15.778928,277.504507,31.0,Female,5,0.0
71,Alexander Kramer,GA,White,Married-civ-spouse,Exec-managerial,False,Husband,0.083873,142.734375,-0.144942,10.0,143266.0,0.0,45.350800,>50K,United-States,40.0,Private,4.137960,21.659153,6.904756,55.309504,31.0,Male,7,0.0
72,Alexander Mohammad,AA,Black,Divorced,Transport-moving,False,Not-in-family,0.231513,138.914062,0.004165,10.0,194304.0,0.0,47.577409,<=50K,United-States,55.0,Private,16.768395,45.071282,2.711845,6.515475,47.0,Male,9,0.0
73,Alexander Ramon,NE,White,Divorced,Adm-clerical,False,Not-in-family,1.238081,107.796875,0.528066,9.0,271933.0,0.0,41.865551,<=50K,United-States,40.0,Private,5.831104,29.069371,5.483373,31.416903,50.0,Female,5,0.0
74,Alfonso Hines,VT,White,Married-civ-spouse,Exec-managerial,False,Husband,0.174918,109.429688,0.268363,13.0,159755.0,0.0,50.264563,>50K,United-States,40.0,Private,3.136288,17.693101,8.499157,88.985653,60.0,Male,1,-1887.0
75,Alfonzo Henry,GA,Black,Widowed,Priv-house-serv,False,Not-in-family,17.559197,50.359375,3.781357,5.0,114670.0,1.0,33.857868,<=50K,United-States,5.0,Private,130.883779,98.083452,-0.225380,-1.635939,47.0,Female,4,2062.0
76,Alfred Adkins,MS,White,NaN,Craft-repair,False,Not-in-family,0.194722,120.984375,0.246434,9.0,94081.0,0.0,44.208841,>50K,United-States,40.0,Private,2.148829,17.149488,9.194671,94.188786,31.0,Male,8,0.0
77,Alfred Booth,AA,Asian-Pac-Islander,Never-married,Adm-clerical,False,Own-child,1.740235,93.742188,0.846305,9.0,153078.0,0.0,40.703433,>50K,NaN,80.0,Private,3.171405,18.503635,7.639291,68.047192,56.0,Male,7,0.0
78,Alfred Daniel,AP,White,Married-civ-spouse,Exec-managerial,False,Husband,11.682343,51.710938,2.985915,13.0,177675.0,1.0,39.712079,>50K,United-States,55.0,Local-gov,23.576087,52.762198,2.514543,5.839643,69.0,Male,3,0.0
79,Alfred Emberton,WV,White,Never-married,Other-service,False,Own-child,-0.141561,126.304688,0.126114,10.0,152182.0,0.0,51.660182,<=50K,United-States,25.0,Private,3.697324,24.890201,7.543554,59.218272,63.0,Female,2,0.0
80,Alfred Funk,IL,White,Married-civ-spouse,Exec-managerial,False,Husband,-0.282219,121.882812,0.200521,10.0,143833.0,0.0,53.042675,>50K,United-States,40.0,Self-emp-not-inc,2.116221,16.580876,8.947603,91.011762,57.0,Male,11,-2246.0
81,Alfred Gaietto,VT,White,Divorced,Craft-repair,False,Not-in-family,1.706574,86.492188,0.569129,9.0,186256.0,0.0,38.881831,<=50K,United-States,40.0,Private,1.471572,11.214317,13.468297,247.026113,47.0,Male,12,0.0
82,Alfred Hall,NH,White,NaN,Prof-specialty,False,Husband,-0.260816,136.796875,-0.264543,11.0,200479.0,0.0,52.070169,<=50K,United-States,40.0,Private,3.509197,21.466566,7.916399,69.470330,29.0,Male,2,0.0
83,Alfred Santana,KY,White,Divorced,Prof-specialty,False,Not-in-family,30.534555,19.031250,5.455235,14.0,168262.0,1.0,33.354146,<=50K,United-States,40.0,Private,66.806020,59.001793,1.180934,1.319287,50.0,Male,1,0.0
84,Alfred Smith,NH,White,Married-civ-spouse,Machine-op-inspct,False,Husband,0.384834,114.070312,0.372537,9.0,49243.0,0.0,45.075489,<=50K,United-States,40.0,Private,3.674749,22.454794,7.909014,69.290189,55.0,Male,2,0.0
85,Alfred Tijerina,MT,White,Married-civ-spouse,Prof-specialty,False,Husband,0.859209,110.531250,0.430244,13.0,39630.0,0.0,42.925069,<=50K,United-States,40.0,State-gov,2.035117,12.589098,10.460496,157.877421,44.0,Male,12,0.0
86,Alfredo Estrada,SC,White,Divorced,Adm-clerical,False,Other-relative,4.643499,78.679688,1.339545,10.0,255835.0,1.0,35.802613,<=50K,United-States,40.0,State-gov,8.302676,35.425984,4.442891,19.226937,69.0,Female,9,0.0
87,Alfredo Lunn,AR,White,Married-civ-spouse,Transport-moving,False,Husband,0.736870,117.328125,0.182075,7.0,101119.0,0.0,41.749272,<=50K,United-States,40.0,State-gov,2.491639,13.797051,9.107531,117.032860,36.0,Male,2,0.0
88,Alfredo Pando,ME,White,Married-civ-spouse,Sales,False,Husband,-0.305865,119.562500,0.216927,4.0,409189.0,0.0,51.681227,<=50K,Mexico,40.0,Self-emp-not-inc,95.617057,87.925110,-0.040359,-1.795068,55.0,Male,4,0.0
89,Alfredo Peterson,AK,White,Married-civ-spouse,Transport-moving,False,Husband,-0.248098,122.156250,0.280323,9.0,38948.0,0.0,55.281444,<=50K,United-States,50.0,Private,7.624582,35.215705,4.792721,22.480906,55.0,Male,7,0.0
90,Allan Hickam,IN,Black,Married-civ-spouse,Protective-serv,False,Husband,0.129231,139.398438,-0.006210,10.0,216361.0,0.0,43.472933,<=50K,United-States,16.0,Private,3.457358,18.329501,7.349508,65.869766,60.0,Male,9,0.0
91,Allan Lewis,TX,White,Divorced,Machine-op-inspct,False,Unmarried,-0.465720,128.960938,-0.019316,10.0,213887.0,0.0,53.159607,<=50K,United-States,45.0,Private,2.246656,13.266948,10.394661,147.173082,56.0,Male,7,0.0
92,Allen Brickley,KY,White,Never-married,Handlers-cleaners,False,Other-relative,1.296334,124.984375,0.471212,9.0,210313.0,0.0,38.049923,<=50K,Guatemala,28.0,Private,3.255017,22.330020,7.581630,60.124528,56.0,Male,8,0.0
93,Allen Carter,IL,White,Married-civ-spouse,Exec-managerial,False,Husband,0.524173,111.000000,0.609294,13.0,324629.0,0.0,47.962388,<=50K,Yugoslavia,40.0,Private,1.321906,12.659255,13.760993,226.534217,24.0,Male,6,0.0
94,Allen Cunningham,UT,White,Never-married,Sales,True,Own-child,3.838795,80.109375,1.615939,5.0,116375.0,1.0,42.645383,<=50K,United-States,40.0,Private,34.992475,70.962229,1.825811,1.856704,58.0,Female,7,0.0
95,Allen Heppner,ND,White,Married-civ-spouse,Handlers-cleaners,False,Husband,-0.341687,143.906250,0.007179,5.0,182211.0,0.0,51.887263,<=50K,United-States,45.0,Private,4.823579,25.038295,6.425474,44.890785,55.0,Male,4,0.0
96,Allen Martinez,ID,Black,Married-spouse-absent,Machine-op-inspct,False,Unmarried,-0.273061,110.960938,0.188835,5.0,202720.0,0.0,51.542368,<=50K,Haiti,75.0,Private,108.193980,86.934263,-0.278773,-1.645962,43.0,Male,1,0.0
97,Allen Rangel,KY,Amer-Indian-Eskimo,Divorced,Other-service,False,Not-in-family,0.120915,129.296875,-0.036040,11.0,89419.0,0.0,47.470938,<=50K,Columbia,40.0,Private,2.046823,12.988913,10.211955,145.743627,38.0,Female,2,0.0
98,Alonzo Ellis,GA,Asian-Pac-Islander,NaN,Sales,False,Husband,1.441155,101.031250,0.605286,15.0,356250.0,0.0,42.494841,<=50K,China,35.0,Private,1.276756,16.319843,13.093672,172.173370,45.0,Male,11,0.0
99,Alonzo Rodgers,AP,White,Married-civ-spouse,Sales,False,Husband,1.079685,108.882812,0.611751,13.0,182100.0,0.0,41.865973,>50K,United-States,40.0,Local-gov,2.560201,14.179825,8.861139,110.854586,51.0,Male,7,0.0

TODO:
- doplnit NaN hodnoty podla metod popisanych v zadani (najma tie ciselne).
- pozriet ciselne outliery, nahradzat podla metod v zadani
- nahradit boolean hodnoty 0 a 1.
- doplnit marital-status cez relationship
- zrusit tehotnych muzov
- indexy zoradit naspat ako boli povodne (teraz je to podla abecedy)
- prieskumna analyza pre oxygeny, education, age, birth_month

Otazkzy na cviko: 
- ako doplnit stat?

In [90]:
#new_educ = data["std_glucose"]
"NaN: "+str(data["fnlwgt"].isnull().sum())

'NaN: 14'