In [1]:
import pandas as pd
import matplotlib
import seaborn as sns
import statsmodels.api as sm
import statsmodels.stats.api as sms
import scipy.stats as stats
from sklearn import preprocessing
dataset = pd.read_csv("22/personal_train.csv")
secondDataset = pd.read_csv("22/other_train.csv")

In [6]:
dataset.head(5)

,Unnamed: 0,name,address,age,sex,date_of_birth
0,0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH ...",58,Male,1961-03-11
1,1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN ...",56,Female,1962/11/20
2,2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",59,Male,11/12/1959
3,3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Female,1953-03-18
4,4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 7...",64,Male,1954-12-12

V prvej tabuľke sa nachádzajú základné údaje o osobách, konkrétne meno, adresa, pohlavie a dátum narodenia.

In [9]:
secondDataset.head(10)

,Unnamed: 0,name,address,race,marital-status,occupation,pregnant,education-num,relationship,skewness_glucose,...,education,fnlwgt,class,std_glucose,income,medical_info,native-country,hours-per-week,capital-loss,workclass
0,0,Ernest Valles,"698 Miller Gateway Apt. 970\r\nClayside, ND 13457",White,Married-civ-spouse,Adm-clerical,f,10.0,Husband,0.198684,...,Some-college,343789.0,0.0,48.744348,>50K,"{'mean_oxygen':'0.790133779','std_oxygen':'10....",United-States,40.0,0.0,State-gov
1,1,Michael Kowal,"4784 Walters Extensions\r\nEast Whitney, NH 27458",White,??,Sales,F,13.0,Not-in-family,-0.334631,...,Bachelors,188957.0,0.0,50.982512,<=50K,"{'mean_oxygen':'18.69147157','std_oxygen':'51....",United-States,40.0,0.0,Self-emp-not-inc
2,2,Mike Rogers,"068 Baker Estates Apt. 300\r\nRoberttown, NV 5...",White,Married-civ-spouse,Sales,f,13.0,Husband,0.030878,...,Bachelors,112283.0,0.0,42.893263,<=50K,"{'mean_oxygen':'1.150501672','std_oxygen':'11....",United-States,55.0,0.0,Private
3,3,Marvin Cherry,"75326 Odom Drive\r\nNorth Robert, SC 99612",White,Married-civ-spouse,Farming-fishing,f,9.0,Husband,0.636882,...,HS-grad,166416.0,0.0,43.658777,<=50K,"{'mean_oxygen':'0.387123746','std_oxygen':'8.6...",United-States,99.0,0.0,Self-emp-not-inc
4,4,Bernard Williams,"258 Valerie Throughway\r\nSouth Samanthafort, ...",Black,Widowed,Other-service,f,700.0,Not-in-family,0.105785,...,11th,462440.0,0.0,48.991568,<=50K,"{'mean_oxygen':'0.945652174','std_oxygen':'12....",United-States,20.0,0.0,Private
5,5,Jay Montes,"78078 Donovan Trail\r\nPort Susan, SC 05139",Black,Married-civ-spouse,Handlers-cleaners,F,9.0,Wife,1.583588,...,HS-grad,147860.0,1.0,41.734232,<=50K,"{'mean_oxygen':'56.20317726','std_oxygen':'75....",United-States,40.0,0.0,Private
6,6,Marion Goodrich,"9647 Hodges Lodge Apt. 719\r\nEast Joel, MS 63637",White,Never-married,Sales,f,12.0,Own-child,0.232405,...,Assoc-acdm,191935.0,0.0,48.480948,<=50K,"{'mean_oxygen':'3.4122073580000003','std_oxyge...",United-States,20.0,0.0,Private
7,7,John Navarez,"5952 Ashley Neck Suite 576\r\nNorth Robert, OH...",White,Never-married,Machine-op-inspct,f,9.0,Other-relative,-0.098338,...,HS_grad,147951.0,0.0,49.413531,<=50K,"{'mean_oxygen':'2.397993311','std_oxygen':'14....",United-States,1.0,0.0,Private
8,8,Marco Stanton,"958 Smith Pike Suite 249\r\nLake Andrewton, GA...",White,Never-married,Other-service,F,-1000.0,Unmarried,-0.028935,...,Some-college,315065.0,0.0,52.276365,<=50K,"{'mean_oxygen':'2.474916388','std_oxygen':'14....",Mexico,35.0,0.0,private
9,9,Kenneth Vanvalkenburg,"0338 Angela Ports Suite 480\r\nYolandaborough,...",Black,Never-married,Sales,f,6.0,Other-relative,-0.020183,...,10th,256967.0,0.0,53.998834,<=50K,"{'mean_oxygen':'3.800167224','std_oxygen':'23....",United-States,40.0,0.0,private

V druhej tabuľke je toho oveľa viac, je tu 22 atribútov. 
Sú tu údaje o spoločenskom postavení ľudí:
- rasa (stĺpec race)
- či sú v nejakom zväzku (stĺpec marital-status)
- v aké majú povolanie (occupation)
- dosiahnuté vzdelanie (education)
- vzťah (relationship)
- education-num (zistiť, čo to je)
- príjem (income)
- z akej krajiny pochádzajú. (native country)
- koľko hodín týždenne pracujú (hours per week)
- v akej sfére (štátnej, súkromnej) pracujú (stĺpec workclass)

A taktiež o ich zdravotnom stave:
- hodnoty hladín glukózy
- stĺpec fnlwgt // čo to je?
- capital-loss
- medical info

Todo:
- Každý z nás spraví po jednej hypotéze.
- Čo sa týka identifikácie problémov s dátami, môžeme to spraviť tak, ako si vravel ty, že ty si zoberieš prvú polku, ja druhú. Treba tam popísať problémy s dátami. Vykresliť grafy, či nám nejaké hodnoty nelietajú straaaašne mimo :D a nakoniec navrhúť riešenia na vyčistenie dát.
- Párová analýza: treba spraviť heatmap, ktorá ti ukazuje korelácie medzi údajmi. a zisťovať, čo môže mať dopad na to, či je človek má cukrovku alebo nie.