# Inteligentná analýza údajov 2019/2020 - Projekt
## Druhá časť - predspracovanie
## Ondrej Jedinák, František Tibenský

In [1]:
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.display import display

pd.options.display.max_colwidth=130
pd.set_option("display.max_columns", None)

## Konfigurácia

In [2]:
IN_PERSONAL = "data/personal_train.csv"
IN_OTHER = "data/other_train.csv"
OUT = "preprocessed.csv"
DATUM = "now"

## ---------------------

In [3]:
personal_data = pd.read_csv(IN_PERSONAL, index_col=0)
data = pd.read_csv(IN_OTHER, index_col=0)

In [4]:
for ds in [personal_data, data]:
    cls=ds.columns
    cl2=[]
    for cl in cls:
        cl2.append(cl.replace("-","_"))
    ds.rename(columns={i:j for i,j in zip(cls,cl2)}, inplace=True)

Nastavíme konzistentné názvy atribútov pre lepšiu prehľadnosť.

In [5]:
for ds in [data, personal_data]:
    for col in ds:
        if ds[col].dtype=='object':
            ds[col]=ds[col].str.strip()

data=data.replace('?',np.NaN)
data=data.replace('??',np.NaN)

Odstránime zo všetkých textových atribútov prázdne znaky na začiatku a konci a zmeníme hodnoty s otáznikmi na NaN.

In [6]:
display(personal_data.head())
data.head()

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH 53211",58,Male,1961-03-11
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN 57550",56,Female,1962/11/20
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",59,Male,11/12/1959
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Female,1953-03-18
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 77139",64,Male,1954-12-12

,name,address,race,marital_status,occupation,pregnant,education_num,relationship,skewness_glucose,mean_glucose,capital_gain,kurtosis_glucose,education,fnlwgt,class,std_glucose,income,medical_info,native_country,hours_per_week,capital_loss,workclass
0,Ernest Valles,"698 Miller Gateway Apt. 970\r\nClayside, ND 13457",White,Married-civ-spouse,Adm-clerical,f,10.0,Husband,0.198684,105.859375,0.0,0.222954,Some-college,343789.0,0.0,48.744348,>50K,"{'mean_oxygen':'0.790133779','std_oxygen':'10.13249696','kurtosis_oxygen':'17.68151382','skewness_oxygen':'374.9257754'}",United-States,40.0,0.0,State-gov
1,Michael Kowal,"4784 Walters Extensions\r\nEast Whitney, NH 27458",White,NaN,Sales,F,13.0,Not-in-family,-0.334631,120.453125,0.0,-0.049047,Bachelors,188957.0,0.0,50.982512,<=50K,"{'mean_oxygen':'18.69147157','std_oxygen':'51.21049055','kurtosis_oxygen':'2.541428789','skewness_oxygen':'4.930561896'}",United-States,40.0,0.0,Self-emp-not-inc
2,Mike Rogers,"068 Baker Estates Apt. 300\r\nRoberttown, NV 50205",White,Married-civ-spouse,Sales,f,13.0,Husband,0.030878,117.257812,0.0,0.121774,Bachelors,112283.0,0.0,42.893263,<=50K,"{'mean_oxygen':'1.150501672','std_oxygen':'11.49825164','kurtosis_oxygen':'16.48789423','skewness_oxygen':'320.6702352'}",United-States,55.0,0.0,Private
3,Marvin Cherry,"75326 Odom Drive\r\nNorth Robert, SC 99612",White,Married-civ-spouse,Farming-fishing,f,9.0,Husband,0.636882,99.429688,0.0,0.349696,HS-grad,166416.0,0.0,43.658777,<=50K,"{'mean_oxygen':'0.387123746','std_oxygen':'8.683190316000001','kurtosis_oxygen':'25.389201','skewness_oxygen':'685.06342239999...",United-States,99.0,0.0,Self-emp-not-inc
4,Bernard Williams,"258 Valerie Throughway\r\nSouth Samanthafort, TX 69130",Black,Widowed,Other-service,f,700.0,Not-in-family,0.105785,109.382812,0.0,0.232842,11th,462440.0,0.0,48.991568,<=50K,"{'mean_oxygen':'0.945652174','std_oxygen':'12.0495586','kurtosis_oxygen':'14.8422644','skewness_oxygen':'245.358921'}",United-States,20.0,0.0,Private

## date_of_birth

Tento atribút má nekonzistentné formáty dátumov.

Možne formáty dátumov:

1. yyyy-mm-dd
1. yyyy/mm/dd
1. yy-mm-dd
1. dd/mm/yyyy
1. yyyy-mm-dd 00:00:00
1. yyyy-mm-dd 00 00 00

In [7]:
personal_data["date_of_birth"]=personal_data["date_of_birth"].str.replace(" .*","")
personal_data["date_of_birth"]=personal_data["date_of_birth"].str.replace("/","-")
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'([0-9]{2})-([0-9]{2})-([0-9]{4})', r'\3-\2-\1')

personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^(19-[0-9]{2}-[0-9]{2})',r'19\1')
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^([2-9][0-9]-[0-9]{2}-[0-9]{2})',r'19\1')
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^([0-1][0-9]-[0-9]{2}-[0-9]{2})',r'20\1')

chceme všetky dátumy dostať do 1. formátu
- odstránime časové hodnoty
- zmeníme všetky / na -
- prehodíme rok a deň pri 4. prípade
- doplníme prvé dve cifry roku pre 3. prípad

In [8]:
personal_data["date_of_birth"].str.contains("(^[0-9]{4}-((0[0-9])|(1[0-2]))-([0-2][0-9]|(3)[0-1])$)").unique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

array([ True])

Kontrola či sú formáty jednotné.

## age

Zistíme rozdiely vo vekoch a dátumoch narodenia.

In [9]:
((pd.to_datetime(DATUM)-pd.to_datetime(personal_data["date_of_birth"])).astype('<m8[Y]')-personal_data["age"]).value_counts()

0.0    3702
1.0     231
dtype: int64

V dátumoch narodenia a vekoch nie sú žiadne výrazné nezrovnalosti. Jediný problém je že niektoré veky neboli aktualizované pre aktuálny dátum. Tiež neexistuje žiaden dátum pre ktorý by neboli aspoň niektoré veky o jeden rok posunuté. Preto si nanovo vypočítame veky k jednotnému dátumu.

In [10]:
personal_data["age"]=((pd.to_datetime(DATUM)-pd.to_datetime(personal_data["date_of_birth"])).astype('<m8[Y]'))

Keďže nám bude ďalej celý dátum narodenia zbytočný lebo máme vek, ponecháme len mesiac narodenia.

In [11]:
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'([0-9]{4})-([0-9]{2})-([0-9]{2})', r'\2').astype(str).astype(int)
personal_data.rename(columns={"date_of_birth": "birth_month"},inplace=True)

## workclass

Opravíme nekonzistentné začiatočné písmená.

In [12]:
data["workclass"]=data["workclass"].str.capitalize()
data["workclass"].value_counts(dropna=False)

Private             2737
Self-emp-not-inc     304
Local-gov            266
NaN                  256
State-gov            146
Self-emp-inc         145
Federal-gov          125
Without-pay            3
Never-worked           1
Name: workclass, dtype: int64

## pregnant

In [13]:
data["pregnant"]=data["pregnant"].str.lower()
data["pregnant"]=data["pregnant"].str.replace("(^f$)|(^false$)","False")
data["pregnant"]=data["pregnant"].str.replace("(^t$)|(^true$)","True")
data["pregnant"].value_counts(dropna=False)

False    3888
True       83
NaN        12
Name: pregnant, dtype: int64

Nekonzistentné hodnoty zmeníme tak aby boli len True alebo False (a NaN).

## rozdelenie medical_data

In [14]:
data['medical_info']=data['medical_info'].replace(np.NaN,"{}")
data['medical_info']=data['medical_info'].str.replace("'",'"')
data=data.join(data['medical_info'].apply(json.loads).apply(pd.Series))
data = data.drop(columns='medical_info')

Rozparsujeme hodnoty v JSON v medcal_data na samostatné stĺpce. Najprv však nahradíme NaN prázdnymi objektami a zmeníme uvodzovky aby boli validné pre JSON.

## education

In [15]:
data['education']=data['education'].str.replace("_","-")
data['education'].value_counts()

HS-grad         1279
Some-college     910
Bachelors        661
Masters          207
Assoc-voc        151
Assoc-acdm       136
11th             122
10th             114
7th-8th           92
Prof-school       68
9th               63
12th              47
Doctorate         46
5th-6th           45
1st-4th           14
Preschool         10
Name: education, dtype: int64

Zjednotíme nahradenie medzier v hodnotách.

## education_num

In [16]:
def edu_num_fix(val):
    if val<0:
        val*=-1
    if val>100:
        val/=100
    return val
data['education_num']=data['education_num'].apply(edu_num_fix)
data.education_num.value_counts()

9.0     1151
10.0     827
13.0     589
14.0     185
11.0     141
12.0     125
7.0      109
6.0       99
4.0       82
15.0      59
5.0       59
8.0       45
16.0      41
3.0       39
2.0       13
1.0        6
Name: education_num, dtype: int64

Zjednotíme hodnoty tak aby nám zostali len hodnoty od 1 do 16.

In [17]:
for i in range(1,17):
    print(str(data['education'][data.education_num==i].value_counts()))

Preschool    6
Name: education, dtype: int64
1st-4th    13
Name: education, dtype: int64
5th-6th    39
Name: education, dtype: int64
7th-8th    81
Name: education, dtype: int64
9th    59
Name: education, dtype: int64
10th    99
Name: education, dtype: int64
11th    108
Name: education, dtype: int64
12th    45
Name: education, dtype: int64
HS-grad    1147
Name: education, dtype: int64
Some-college    823
Name: education, dtype: int64
Assoc-voc    141
Name: education, dtype: int64
Assoc-acdm    125
Name: education, dtype: int64
Bachelors    587
Name: education, dtype: int64
Masters    184
Name: education, dtype: int64
Prof-school    59
Name: education, dtype: int64
Doctorate    41
Name: education, dtype: int64

In [18]:
edu={}
for i in range(1,17):
    edu[str(data['education'][data.education_num==i].value_counts()).split(" ")[0]]=i
edu

{'Preschool': 1,
 '1st-4th': 2,
 '5th-6th': 3,
 '7th-8th': 4,
 '9th': 5,
 '10th': 6,
 '11th': 7,
 '12th': 8,
 'HS-grad': 9,
 'Some-college': 10,
 'Assoc-voc': 11,
 'Assoc-acdm': 12,
 'Bachelors': 13,
 'Masters': 14,
 'Prof-school': 15,
 'Doctorate': 16}

Zistili sme že education_num je len číselná verzia eduaction. Doplníme podľa toho chýbajúce hodnoty education_num a stĺpec education môžeme zmazať.

In [19]:
def edu_to_num(val):
    if val in edu:
        return edu[val]
    else:
        return np.NaN
    
data['education']=data['education'].apply(edu_to_num)
data['education'].fillna(data['education_num'], inplace=True)

data['education'].value_counts(dropna=False)
data = data.drop(columns=['education_num'])

## Odstránenie duplikátov

In [20]:
def aggr(val):
    o=set()
    for v in val:
        if not pd.isna(v):
            o.add(v)
    if len(o)==0:
        return np.NaN
    elif len(o)>1:
        print("Pozor: viac moznych hodnot!")
        print(o)
    return o.pop()
    
data=data.groupby(['name', 'address']).aggregate(aggr).reset_index()

Záznamy s rovnakými menami a adresami zjednotíme a doplníme ich hodnoty pomocou agregačnej funkcie.

## Spojenie dvoch tabuliek

In [21]:
data=data.merge(personal_data, on=('name', 'address'))

In [22]:
data.address=data.address.str.replace(r".*\r\n[A-Za-z ]+,? ([A-Z]{2}).*",r"\1")

In [23]:
data.rename(columns={"address": "state"},inplace=True)

## spojenie capital_loss a capital_gain

In [24]:
data.isnull().sum()

name                  0
state                 0
race                  1
marital_status      393
occupation          238
pregnant              0
relationship          0
skewness_glucose      1
mean_glucose          0
capital_gain          0
kurtosis_glucose      1
education             0
fnlwgt                0
class                 0
std_glucose           0
income                1
native_country       81
hours_per_week        0
capital_loss          0
workclass           238
mean_oxygen           1
std_oxygen            1
kurtosis_oxygen       1
skewness_oxygen       1
age                   0
sex                   0
birth_month           0
dtype: int64

In [25]:
data = data.assign(capital=np.NaN)
data.capital = data.capital_gain - data.capital_loss
data = data.drop(columns=['capital_loss','capital_gain'])

In [26]:
data

,name,state,race,marital_status,occupation,pregnant,relationship,skewness_glucose,mean_glucose,kurtosis_glucose,education,fnlwgt,class,std_glucose,income,native_country,hours_per_week,workclass,mean_oxygen,std_oxygen,kurtosis_oxygen,skewness_oxygen,age,sex,birth_month,capital
0,Aaron Davis,MD,White,Never-married,Prof-specialty,False,Not-in-family,25.996764,38.921875,4.751118,14.0,72880.0,1.0,31.821428,<=50K,United-States,40.0,Private,46.65050167,66.12225116,1.463560709,1.41157607,57.0,Female,5,0.0
1,Aaron Dini,KS,White,NaN,Prof-specialty,False,Husband,11.255049,61.460938,2.539502,13.0,43235.0,1.0,33.785376,>50K,United-States,50.0,Private,9.411371237000001,39.40788342,4.610876928,21.09971602,53.0,Male,5,0.0
2,Aaron Gann,UT,White,Never-married,Prof-specialty,True,Own-child,0.818221,150.062500,-0.327482,13.0,126613.0,0.0,42.052190,<=50K,United-States,8.0,Private,5.9088628760000015,25.73571406,4.914791961000001,26.46176929,51.0,Female,5,0.0
3,Aaron Gregg,ME,White,Married-civ-spouse,Sales,False,Husband,0.573133,116.796875,0.275827,10.0,42251.0,0.0,46.736689,>50K,United-States,45.0,Private,5.130434783,25.81924647,5.966745606,37.86752999,54.0,Male,4,0.0
4,Aaron Lindley,AR,White,Married-civ-spouse,Other-service,False,Husband,37.449172,16.539062,5.971550,9.0,135102.0,1.0,30.500743,<=50K,United-States,45.0,Local-gov,67.45150502,67.14417042,0.905511422,0.064849717,54.0,Male,12,-2002.0
5,Aaron Manning,DC,White,Never-married,Adm-clerical,False,Not-in-family,0.203493,126.859375,0.001818,9.0,51047.0,0.0,45.451508,<=50K,United-States,25.0,Private,3.389632107,20.38226718,7.829813671,70.00080537,56.0,Female,1,0.0
6,Aaron Moody,MS,White,Married-spouse-absent,Sales,False,Not-in-family,30.428177,31.601562,5.036450,10.0,235556.0,1.0,29.498236,<=50K,Mexico,45.0,Private,33.49498328,62.8684522,2.061246836,3.273828495,67.0,Male,3,0.0
7,Aaron Noman,AA,White,Married-civ-spouse,Prof-specialty,False,Husband,0.332530,105.242188,0.112815,15.0,99835.0,0.0,44.526457,>50K,United-States,60.0,Private,3.340301003,19.25194898,7.984062344,75.92196362,22.0,Male,10,0.0
8,Aaron Robinson,MD,White,Married-civ-spouse,Prof-specialty,False,Husband,2.081514,85.445312,1.314571,15.0,65324.0,1.0,49.863534,>50K,United-States,40.0,Private,131.3795987,71.98888375,-0.473466462,-0.5797124610000001,60.0,Male,5,0.0
9,Aaron Rogers,OH,White,Never-married,Craft-repair,False,Own-child,4.199041,80.468750,1.296000,10.0,138692.0,1.0,36.388300,<=50K,United-States,50.0,Private,46.8729097,69.42012977,1.347551335,0.7634887109999999,56.0,Male,8,0.0
10,Aaron Spriggs,DE,White,Married-civ-spouse,Exec-managerial,False,Husband,-0.354230,134.414062,-0.158459,10.0,157747.0,0.0,52.341655,>50K,United-States,40.0,Private,5.510869565,25.72056649,5.646120906,35.04823269,43.0,Male,10,7298.0
11,Abel Love,CO,White,Never-married,NaN,False,Not-in-family,0.895623,110.070312,0.210934,10.0,170070.0,0.0,40.339610,<=50K,United-States,10.0,NaN,1.72909699,13.52417096,11.08547198,151.95165769999997,17.0,Female,4,0.0
12,Abraham Hefty,TX,White,NaN,Exec-managerial,False,Husband,1.264981,127.750000,-0.283429,13.0,135465.0,0.0,37.684131,>50K,United-States,50.0,Private,1.858695652,14.15392921,11.63556587,165.8380531,48.0,Male,6,0.0
13,Abraham Winkles,ME,White,Married-civ-spouse,Exec-managerial,False,Wife,0.098141,125.070312,0.353256,4.0,194259.0,0.0,50.398906,<=50K,United-States,50.0,Private,2.102006689,14.22876741,9.400484565,115.3403716,45.0,Female,11,0.0
14,Adalberto Daughters,AE,White,Married-civ-spouse,Handlers-cleaners,False,Husband,-0.042424,141.242188,-0.423370,5.0,95647.0,0.0,49.169469,<=50K,United-States,50.0,Private,5.4707357860000005,28.76894426,6.083458577,39.57860988,42.0,Male,4,0.0
15,Adam Baskerville,AA,White,Never-married,Exec-managerial,False,Not-in-family,0.228740,130.695312,0.069649,13.0,158040.0,0.0,48.171821,<=50K,United-States,45.0,Private,6.37458194,27.59729198,4.70467515,23.17114033,67.0,Female,3,0.0
16,Adam Baugh,NH,White,Divorced,Sales,True,Unmarried,0.966060,90.304688,0.742012,12.0,50644.0,0.0,45.298413,<=50K,United-States,40.0,Self-emp-inc,3.177257525,23.32245286,7.785759483,62.22871735,49.0,Female,7,1506.0
17,Adam Bermudez,IN,White,Never-married,NaN,False,Own-child,0.025900,149.664062,-0.288796,6.0,344742.0,0.0,48.935429,<=50K,United-States,40.0,NaN,2.469899666,13.87756775,9.610458689,128.9612193,54.0,Male,12,0.0
18,Adam Chipman,MI,White,Divorced,Craft-repair,False,Not-in-family,1.945321,87.398438,1.118027,9.0,73023.0,1.0,44.428724,<=50K,United-States,55.0,Private,19.08946488,52.50629384,2.921471061,7.584978339,46.0,Male,2,0.0
19,Adam Daniel,WY,White,Married-civ-spouse,Craft-repair,False,Husband,-0.416735,110.281250,0.134786,10.0,89942.0,0.0,53.615229,<=50K,United-States,40.0,Self-emp-not-inc,1.380434783,15.1592412,12.61715608,171.1505281,50.0,Male,7,0.0
20,Adam Duncan,WY,White,Never-married,Sales,False,Other-relative,0.044239,134.414062,0.362548,9.0,189461.0,0.0,48.286503,<=50K,United-States,55.0,Private,1.693979933,14.50752304,10.51958552,128.33884009999997,52.0,Male,8,0.0
21,Adam George,OK,White,Married-civ-spouse,Handlers-cleaners,False,Husband,10.138266,54.257812,2.979318,10.0,123606.0,1.0,41.582231,<=50K,United-States,40.0,Private,159.611204,64.79219555,-0.9365192,0.093108123,66.0,Male,1,0.0
22,Adam Kowal,CO,Other,Never-married,Sales,False,Own-child,2.375737,86.578125,0.520048,10.0,195248.0,0.0,36.946458,<=50K,United-States,20.0,Private,1.307692308,11.80764056,14.21795993,248.38969100000003,50.0,Female,8,0.0
23,Adam Perry,HI,Asian-Pac-Islander,Never-married,NaN,False,Unmarried,0.072007,123.507812,0.175955,13.0,190650.0,0.0,47.411924,<=50K,Philippines,25.0,NaN,1.5376254180000002,13.37362836,12.88465777,196.2418427,46.0,Male,6,0.0
24,Adam Porter,PA,White,Married-civ-spouse,Exec-managerial,True,Wife,0.437049,126.296875,0.178590,13.0,168943.0,0.0,46.356189,>50K,United-States,30.0,Private,2.011705686,12.4470731,10.64609032,164.0832985,61.0,Female,1,0.0
25,Adam Sprague,NJ,White,Divorced,Priv-house-serv,False,Unmarried,-0.387586,115.226562,0.207267,13.0,238397.0,0.0,52.921701,<=50K,United-States,24.0,Private,16.71070234,51.15644167,2.932070882,7.124124805,57.0,Female,10,0.0
26,Adan Browder,AZ,White,Married-civ-spouse,Prof-specialty,False,Wife,0.428411,107.062500,0.399665,14.0,103260.0,0.0,48.126258,>50K,United-States,35.0,Local-gov,2.60367893,17.68864269,8.471276131,85.28677356,46.0,Female,7,0.0
27,Adolfo Wamsley,AA,Black,Married-civ-spouse,Handlers-cleaners,False,Husband,19.898972,41.320312,3.888586,9.0,339772.0,1.0,32.396454,<=50K,United-States,40.0,Private,12.45986622,44.0085606,3.882441397,14.73798107,40.0,Male,6,0.0
28,Adrian Alford,UT,White,Never-married,Adm-clerical,False,Not-in-family,0.415418,85.460938,0.707140,13.0,26892.0,0.0,51.887785,<=50K,United-States,40.0,State-gov,26.33277592,56.48789756,2.041762643,2.829611217,55.0,Male,2,0.0
29,Adrian Alnutt,AK,White,Married-civ-spouse,Adm-clerical,False,Husband,19.738574,52.109375,3.699437,13.0,180342.0,1.0,32.661195,<=50K,United-States,40.0,Private,47.09197324,82.48933185,1.406347004,0.331634915,80.0,Male,5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3903,William Wright,HI,White,Divorced,Prof-specialty,False,Unmarried,-0.227108,122.429688,0.320416,13.0,32837.0,0.0,53.114511,<=50K,United-States,56.0,Private,2.772575251,16.74234564,8.369333187999999,86.05560055,22.0,Female,11,0.0
3904,Willian Dishman,OH,Other,NaN,Protective-serv,False,Own-child,-0.045585,133.070312,0.269563,9.0,93589.0,0.0,46.015314,<=50K,United-States,40.0,State-gov,3.678093645,20.42719075,7.512515056,65.00396059,53.0,Male,5,0.0
3905,Willie Braithwaite,NV,White,Married-civ-spouse,Adm-clerical,False,Husband,0.298295,117.257812,0.432578,10.0,321333.0,0.0,47.553300,>50K,United-States,40.0,Federal-gov,6.427257525,29.49914504,5.259671453999999,29.23954166,39.0,Male,6,0.0
3906,Willie Brisson,CA,White,Married-civ-spouse,Other-service,False,Husband,0.329600,108.203125,0.333692,9.0,222311.0,0.0,49.661252,>50K,United-States,55.0,Self-emp-not-inc,0.987458194,11.70522894,15.19564914,263.3516768,45.0,Male,12,7688.0
3907,Willie Craig,TX,White,Married-civ-spouse,Transport-moving,False,Husband,-0.359900,129.875000,-0.141165,9.0,118972.0,0.0,52.434930,>50K,United-States,50.0,Private,0.828595318,11.22221064,16.2258619,298.6245022,45.0,Male,6,0.0
3908,Willie Cusumano,NE,White,Never-married,Other-service,False,Not-in-family,-0.163764,127.648438,0.110161,10.0,217226.0,0.0,47.348540,<=50K,United-States,30.0,Private,0.45735786,8.288527412,25.73179536,751.9226382,45.0,Male,9,0.0
3909,Willie Doyle,NM,White,Never-married,Other-service,False,Not-in-family,16.544542,34.640625,3.799229,9.0,52465.0,1.0,34.898230,<=50K,United-States,40.0,Local-gov,88.93394649,65.976393,0.23714692,-0.338388229,57.0,Male,9,0.0
3910,Willie Elford,PA,White,Married-civ-spouse,Prof-specialty,False,Wife,1.843304,82.546875,0.685181,13.0,162442.0,0.0,38.857886,>50K,United-States,50.0,Private,2.4565217390000003,16.61890216,9.019758569,95.72392251,61.0,Female,5,7688.0
3911,Willie Flowers,AZ,White,Divorced,Exec-managerial,False,Not-in-family,1.379766,91.609375,0.460359,9.0,174209.0,0.0,38.697794,<=50K,United-States,45.0,Private,2.878762542,16.27094535,7.734933637999999,76.79883396,61.0,Male,4,0.0
3912,Willie Gerace,AA,Black,Married-civ-spouse,Transport-moving,False,Husband,0.354091,156.257812,-0.635142,9.0,148182.0,0.0,48.029653,<=50K,United-States,40.0,Local-gov,1.5025083609999998,14.75233082,11.7112927,154.2734719,71.0,Male,4,0.0
3913,Willie Newsome,AR,White,NaN,Sales,False,Not-in-family,0.029417,118.757812,0.215271,12.0,147253.0,0.0,46.036457,<=50K,United-States,40.0,Private,2.287625418,12.91323816,9.985311486,145.0212062,54.0,Male,2,0.0
3914,Willie Robinson,CA,White,Never-married,Other-service,False,Own-child,0.222304,118.804688,0.172513,10.0,199484.0,0.0,48.231385,<=50K,United-States,25.0,Private,3.058528428,20.12922099,8.045612914,69.9533507,48.0,Female,5,0.0
3915,Willie Rudd,AA,Black,Married-civ-spouse,Handlers-cleaners,False,Husband,9.654794,68.234375,2.350390,9.0,196675.0,1.0,34.122821,<=50K,United-States,70.0,Private,13.42892977,46.06024264,3.573530607,11.96268075,83.0,Male,10,0.0
3916,Willie Stine,DE,Black,Never-married,Adm-clerical,False,Unmarried,-0.011105,116.414062,0.059016,9.0,348416.0,0.0,51.141887,<=50K,United-States,40.0,Private,1.195652174,12.13249794,13.36774683,217.7259413,47.0,Female,12,0.0
3917,Willie Thompson,KY,Asian-Pac-Islander,Married-civ-spouse,Tech-support,False,Husband,0.024738,91.921875,0.455257,13.0,258276.0,0.0,49.762971,<=50K,NaN,40.0,Private,1.863712375,15.74835515,10.57315364,127.9219451,46.0,Male,10,3137.0
3918,Willie Williams,MS,White,Married-civ-spouse,Sales,False,Husband,-0.550702,123.187500,0.023551,9.0,180539.0,0.0,55.014025,<=50K,United-States,10.0,Private,104.4272575,63.87408359,-0.940688785,-0.899902115,60.0,Male,5,0.0
3919,Winford Shinabery,SD,White,Widowed,Adm-clerical,False,Not-in-family,1.148864,99.851562,0.489342,10.0,105216.0,1.0,40.639438,<=50K,United-States,25.0,Private,4.045150502,20.28129033,5.924678426,40.87828704,46.0,Female,6,0.0
3920,Winfred Clark,MO,White,Married-civ-spouse,Handlers-cleaners,False,Husband,-0.258588,125.937500,0.231697,9.0,216013.0,0.0,52.384508,<=50K,United-States,40.0,Local-gov,3.876254181,25.97786049,7.26359447,54.01563415,35.0,Male,4,0.0
3921,Winfred Leitner,NV,White,Never-married,Machine-op-inspct,False,Not-in-family,-0.294991,105.773438,0.370502,9.0,218962.0,0.0,52.815897,<=50K,United-States,40.0,Private,0.668896321,9.464989304,20.02758258,473.449223,59.0,Male,8,0.0
3922,Winston Johnson,MT,White,Divorced,Other-service,False,Unmarried,-0.359802,110.710938,0.373184,9.0,168030.0,0.0,55.365145,<=50K,United-States,32.0,Private,119.3177258,92.42821161,-0.299912579,-1.601473515,40.0,Female,12,0.0
3923,Wm Caravello,KY,White,Married-civ-spouse,Farming-fishing,False,Husband,-0.111817,120.742188,0.460007,4.0,201328.0,0.0,52.298459,<=50K,United-States,56.0,Self-emp-not-inc,1.199832776,12.23396637,14.34122557,242.0607943,60.0,Male,10,0.0
3924,Wm Wilson,AZ,White,Never-married,Prof-specialty,False,Own-child,2.437319,87.070312,0.870473,13.0,277144.0,0.0,38.089981,<=50K,United-States,60.0,Local-gov,1.464882943,10.97806894,13.90631847,263.5604499,39.0,Male,2,0.0
3925,Woodrow Kopecky,AR,White,Married-civ-spouse,Exec-managerial,False,Husband,0.527836,109.906250,0.053946,14.0,102686.0,0.0,43.760255,>50K,United-States,20.0,Self-emp-not-inc,5.914715719,30.64492545,5.802775675,34.43766845,54.0,Male,2,0.0
3926,Woodrow Swanson,MO,White,Married-civ-spouse,Craft-repair,False,Husband,0.280740,110.625000,0.445925,9.0,193304.0,0.0,47.577732,<=50K,United-States,40.0,Private,7.132107023,34.76232159,5.149891546,26.39747056,58.0,Male,3,0.0
3927,Wyatt Nolazco,MN,White,Never-married,Prof-specialty,False,Own-child,-0.141808,143.921875,-0.241659,14.0,210830.0,0.0,50.941696,<=50K,United-States,30.0,State-gov,5.929765886,28.38701862,5.176537528,27.68580927,43.0,Female,9,0.0
3928,Young Provines,GA,White,Never-married,Adm-clerical,False,Not-in-family,0.092803,121.593750,0.209764,9.0,178841.0,1.0,43.275180,<=50K,United-States,40.0,Private,3.001672241,23.10178142,8.092079331,66.89800856,66.0,Female,11,0.0
3929,Zachary Grandfield,MA,White,Never-married,Machine-op-inspct,False,Not-in-family,0.863213,117.640625,0.285809,9.0,45156.0,0.0,46.350859,<=50K,United-States,41.0,Private,1.056856187,10.79538075,16.2675821,326.517478,64.0,Male,10,2174.0
3930,Zachary Miller,VT,White,Married-civ-spouse,Handlers-cleaners,False,Husband,5.826626,58.562500,2.466238,9.0,210945.0,1.0,49.370846,<=50K,United-States,24.0,Private,29.47073579,62.68394987,1.96595997,2.520671988,54.0,Male,7,0.0
3931,Zachary Seltzer,DE,Asian-Pac-Islander,Never-married,Other-service,False,Not-in-family,0.912863,89.960938,0.697100,10.0,125491.0,0.0,45.060099,<=50K,Vietnam,35.0,Private,2.034280936,15.26082034,9.965459227,116.5456637,51.0,Female,7,0.0
3932,Zane Bottorff,MD,White,Married-civ-spouse,Other-service,False,Husband,-0.180708,144.085938,-0.065190,4.0,49325.0,0.0,49.292340,<=50K,United-States,40.0,Local-gov,2.679765886,16.47396726,7.831107155,75.93746199,57.0,Male,11,0.0

TODO:
- doplnit NaN hodnoty podla metod popisanych v zadani (najma tie ciselne).
- pozriet ciselne outliery, nahradzat podla metod v zadani
- nahradit boolean hodnoty 0 a 1.
-