# Inteligentná analýza údajov 2019/2020 - Projekt
## Druhá časť - predspracovanie
## Ondrej Jedinák, František Tibenský

In [1]:
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.display import display

pd.options.display.max_colwidth=130
pd.set_option("display.max_columns", None)

## Konfigurácia

In [2]:
IN_PERSONAL = "data/personal_train.csv"
IN_OTHER = "data/other_train.csv"
OUT = "preprocessed.csv"
DATUM = "now"

## ---------------------

In [3]:
personal_data = pd.read_csv(IN_PERSONAL, index_col=0)
data = pd.read_csv(IN_OTHER, index_col=0)

In [4]:
for ds in [personal_data, data]:
    cls=ds.columns
    cl2=[]
    for cl in cls:
        cl2.append(cl.replace("-","_"))
    ds.rename(columns={i:j for i,j in zip(cls,cl2)}, inplace=True)

Nastavíme konzistentné názvy atribútov pre lepšiu prehľadnosť.

In [5]:
for ds in [data, personal_data]:
    for col in ds:
        if ds[col].dtype=='object':
            ds[col]=ds[col].str.strip()

data=data.replace('?',np.NaN)
data=data.replace('??',np.NaN)

Odstránime zo všetkých textových atribútov prázdne znaky na začiatku a konci a zmeníme hodnoty s otáznikmi na NaN.

In [6]:
display(personal_data.head())
data.head()

,name,address,age,sex,date_of_birth
0,Roscoe Bohannon,"7183 Osborne Ways Apt. 651\r\nEast Andrew, OH 53211",58,Male,1961-03-11
1,Ernest Kline,"391 Ball Road Suite 961\r\nFlowersborough, IN 57550",56,Female,1962/11/20
2,Harold Hendriks,"8702 Vincent Square\r\nNew Jerryfurt, CO 30614",59,Male,11/12/1959
3,Randy Baptiste,"2751 Harris Crossroad\r\nWest Ashley, CA 30311",66,Female,1953-03-18
4,Anthony Colucci,"904 Robert Cliffs Suite 186\r\nWest Kyle, CO 77139",64,Male,1954-12-12

,name,address,race,marital_status,occupation,pregnant,education_num,relationship,skewness_glucose,mean_glucose,capital_gain,kurtosis_glucose,education,fnlwgt,class,std_glucose,income,medical_info,native_country,hours_per_week,capital_loss,workclass
0,Ernest Valles,"698 Miller Gateway Apt. 970\r\nClayside, ND 13457",White,Married-civ-spouse,Adm-clerical,f,10.0,Husband,0.198684,105.859375,0.0,0.222954,Some-college,343789.0,0.0,48.744348,>50K,"{'mean_oxygen':'0.790133779','std_oxygen':'10.13249696','kurtosis_oxygen':'17.68151382','skewness_oxygen':'374.9257754'}",United-States,40.0,0.0,State-gov
1,Michael Kowal,"4784 Walters Extensions\r\nEast Whitney, NH 27458",White,NaN,Sales,F,13.0,Not-in-family,-0.334631,120.453125,0.0,-0.049047,Bachelors,188957.0,0.0,50.982512,<=50K,"{'mean_oxygen':'18.69147157','std_oxygen':'51.21049055','kurtosis_oxygen':'2.541428789','skewness_oxygen':'4.930561896'}",United-States,40.0,0.0,Self-emp-not-inc
2,Mike Rogers,"068 Baker Estates Apt. 300\r\nRoberttown, NV 50205",White,Married-civ-spouse,Sales,f,13.0,Husband,0.030878,117.257812,0.0,0.121774,Bachelors,112283.0,0.0,42.893263,<=50K,"{'mean_oxygen':'1.150501672','std_oxygen':'11.49825164','kurtosis_oxygen':'16.48789423','skewness_oxygen':'320.6702352'}",United-States,55.0,0.0,Private
3,Marvin Cherry,"75326 Odom Drive\r\nNorth Robert, SC 99612",White,Married-civ-spouse,Farming-fishing,f,9.0,Husband,0.636882,99.429688,0.0,0.349696,HS-grad,166416.0,0.0,43.658777,<=50K,"{'mean_oxygen':'0.387123746','std_oxygen':'8.683190316000001','kurtosis_oxygen':'25.389201','skewness_oxygen':'685.06342239999...",United-States,99.0,0.0,Self-emp-not-inc
4,Bernard Williams,"258 Valerie Throughway\r\nSouth Samanthafort, TX 69130",Black,Widowed,Other-service,f,700.0,Not-in-family,0.105785,109.382812,0.0,0.232842,11th,462440.0,0.0,48.991568,<=50K,"{'mean_oxygen':'0.945652174','std_oxygen':'12.0495586','kurtosis_oxygen':'14.8422644','skewness_oxygen':'245.358921'}",United-States,20.0,0.0,Private

## date_of_birth

Tento atribút má nekonzistentné formáty dátumov.

Možne formáty dátumov:

1. yyyy-mm-dd
1. yyyy/mm/dd
1. yy-mm-dd
1. dd/mm/yyyy
1. yyyy-mm-dd 00:00:00
1. yyyy-mm-dd 00 00 00

In [7]:
personal_data["date_of_birth"]=personal_data["date_of_birth"].str.replace(" .*","")
personal_data["date_of_birth"]=personal_data["date_of_birth"].str.replace("/","-")
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'([0-9]{2})-([0-9]{2})-([0-9]{4})', r'\3-\2-\1')

personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^(19-[0-9]{2}-[0-9]{2})',r'19\1')
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^([2-9][0-9]-[0-9]{2}-[0-9]{2})',r'19\1')
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'^([0-1][0-9]-[0-9]{2}-[0-9]{2})',r'20\1')

chceme všetky dátumy dostať do 1. formátu
- odstránime časové hodnoty
- zmeníme všetky / na -
- prehodíme rok a deň pri 4. prípade
- doplníme prvé dve cifry roku pre 3. prípad

In [8]:
personal_data["date_of_birth"].str.contains("(^[0-9]{4}-((0[0-9])|(1[0-2]))-([0-2][0-9]|(3)[0-1])$)").unique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

array([ True])

Kontrola či sú formáty jednotné.

## age

Zistíme rozdiely vo vekoch a dátumoch narodenia.

In [9]:
((pd.to_datetime(DATUM)-pd.to_datetime(personal_data["date_of_birth"])).astype('<m8[Y]')-personal_data["age"]).value_counts()

0.0    3620
1.0     313
dtype: int64

V dátumoch narodenia a vekoch nie sú žiadne výrazné nezrovnalosti. Jediný problém je že niektoré veky neboli aktualizované pre aktuálny dátum. Tiež neexistuje žiaden dátum pre ktorý by neboli aspoň niektoré veky o jeden rok posunuté. Preto si nanovo vypočítame veky k jednotnému dátumu.

In [10]:
personal_data["age"]=((pd.to_datetime(DATUM)-pd.to_datetime(personal_data["date_of_birth"])).astype('<m8[Y]'))

Keďže nám bude ďalej celý dátum narodenia zbytočný lebo máme vek, ponecháme len mesiac narodenia.

In [11]:
personal_data['date_of_birth']=personal_data['date_of_birth'].str.replace(r'([0-9]{4})-([0-9]{2})-([0-9]{2})', r'\2').astype(str).astype(float)
personal_data.rename(columns={"date_of_birth": "birth_month"},inplace=True)

## workclass

Opravíme nekonzistentné začiatočné písmená.

In [12]:
data["workclass"]=data["workclass"].str.capitalize()
data["workclass"].value_counts(dropna=False)

Private             2737
Self-emp-not-inc     304
Local-gov            266
NaN                  256
State-gov            146
Self-emp-inc         145
Federal-gov          125
Without-pay            3
Never-worked           1
Name: workclass, dtype: int64

## rozdelenie medical_data

In [13]:
data['medical_info']=data['medical_info'].replace(np.NaN,"{}")
data['medical_info']=data['medical_info'].str.replace("'",'"')
data=data.join(data['medical_info'].apply(json.loads).apply(pd.Series).astype(float))
data = data.drop(columns='medical_info')

Rozparsujeme hodnoty v JSON v medcal_data na samostatné stĺpce. Najprv však nahradíme NaN prázdnymi objektami a zmeníme uvodzovky aby boli validné pre JSON.

## education

In [14]:
data['education']=data['education'].str.replace("_","-")
data['education'].value_counts()

HS-grad         1279
Some-college     910
Bachelors        661
Masters          207
Assoc-voc        151
Assoc-acdm       136
11th             122
10th             114
7th-8th           92
Prof-school       68
9th               63
12th              47
Doctorate         46
5th-6th           45
1st-4th           14
Preschool         10
Name: education, dtype: int64

Zjednotíme nahradenie medzier v hodnotách.

## education_num

In [15]:
def edu_num_fix(val):
    if val<0:
        val*=-1
    if val>100:
        val/=100
    return val
data['education_num']=data['education_num'].apply(edu_num_fix)
data.education_num.value_counts()

9.0     1151
10.0     827
13.0     589
14.0     185
11.0     141
12.0     125
7.0      109
6.0       99
4.0       82
15.0      59
5.0       59
8.0       45
16.0      41
3.0       39
2.0       13
1.0        6
Name: education_num, dtype: int64

Zjednotíme hodnoty tak aby nám zostali len hodnoty od 1 do 16.

In [16]:
for i in range(1,17):
    print(str(data['education'][data.education_num==i].value_counts()))

Preschool    6
Name: education, dtype: int64
1st-4th    13
Name: education, dtype: int64
5th-6th    39
Name: education, dtype: int64
7th-8th    81
Name: education, dtype: int64
9th    59
Name: education, dtype: int64
10th    99
Name: education, dtype: int64
11th    108
Name: education, dtype: int64
12th    45
Name: education, dtype: int64
HS-grad    1147
Name: education, dtype: int64
Some-college    823
Name: education, dtype: int64
Assoc-voc    141
Name: education, dtype: int64
Assoc-acdm    125
Name: education, dtype: int64
Bachelors    587
Name: education, dtype: int64
Masters    184
Name: education, dtype: int64
Prof-school    59
Name: education, dtype: int64
Doctorate    41
Name: education, dtype: int64

In [17]:
edu={}
for i in range(1,17):
    edu[str(data['education'][data.education_num==i].value_counts()).split(" ")[0]]=i
edu

{'Preschool': 1,
 '1st-4th': 2,
 '5th-6th': 3,
 '7th-8th': 4,
 '9th': 5,
 '10th': 6,
 '11th': 7,
 '12th': 8,
 'HS-grad': 9,
 'Some-college': 10,
 'Assoc-voc': 11,
 'Assoc-acdm': 12,
 'Bachelors': 13,
 'Masters': 14,
 'Prof-school': 15,
 'Doctorate': 16}

Zistili sme že education_num je len číselná verzia eduaction. Doplníme podľa toho chýbajúce hodnoty education_num a stĺpec education môžeme zmazať.

In [18]:
def edu_to_num(val):
    if val in edu:
        return edu[val]
    else:
        return np.NaN
    
data['education']=data['education'].apply(edu_to_num)
data['education'].fillna(data['education_num'], inplace=True)

data['education'].value_counts(dropna=False)
data = data.drop(columns=['education_num'])

## Odstránenie duplikátov

In [19]:
def aggr(val):
    o=set()
    for v in val:
        if not pd.isna(v):
            o.add(v)
    if len(o)==0:
        return np.NaN
    elif len(o)>1:
        print("Pozor: viac moznych hodnot!")
        print(o)
    return o.pop()
    
data=data.groupby(['name', 'address']).aggregate(aggr)

Záznamy s rovnakými menami a adresami zjednotíme a doplníme ich hodnoty pomocou agregačnej funkcie.

## Spojenie dvoch tabuliek

In [20]:
data=personal_data.merge(data, on=('name', 'address'))

In [21]:
data.address=data.address.str.replace(r".*\r\n[A-Za-z ]+,? ([A-Z]{2}).*",r"\1")

In [22]:
data.rename(columns={"address": "state"},inplace=True)

## pregnant

In [23]:
data["pregnant"]=data["pregnant"].str.lower()
data["pregnant"]=data["pregnant"].str.replace("(^f$)|(^false$)","False")
data["pregnant"]=data["pregnant"].str.replace("(^t$)|(^true$)","True")
data["pregnant"]=data["pregnant"].str.replace("True","1")
data["pregnant"]=data["pregnant"].str.replace("False","0")
data["pregnant"]=data["pregnant"].str.replace("True","1")
data["pregnant"]=data["pregnant"].astype(float)
data["pregnant"].value_counts(dropna=False)

0.0    3851
1.0      82
Name: pregnant, dtype: int64

Nekonzistentné hodnoty zmeníme tak aby boli len True alebo False (a NaN) a prekonvertujeme ich na 0 a 1.

In [24]:
data[data["sex"]=="Male"].pregnant.unique()

array([0., 1.])

Existujú záznamy kde sú muži tehotní.

In [25]:
data.loc[data.sex == "Male", "pregnant"] = 0
data['pregnant'] = data['pregnant'].fillna(0)

Mužom nastavíme tehotenstvo na 0. V prípade prázdnych hodnôt budeme predpokladať že daná osoba tehotná nie je a nastavíme jej hodnotu na 0.

In [26]:
data.isnull().sum()

name                  0
state                 0
age                   0
sex                   0
birth_month           0
race                  1
marital_status      393
occupation          238
pregnant              0
relationship          0
skewness_glucose      1
mean_glucose          0
capital_gain          0
kurtosis_glucose      1
education             0
fnlwgt                0
class                 0
std_glucose           0
income                1
native_country       81
hours_per_week        0
capital_loss          0
workclass           238
mean_oxygen           1
std_oxygen            1
kurtosis_oxygen       1
skewness_oxygen       1
dtype: int64

## spojenie capital_loss a capital_gain

In [27]:
data = data.assign(capital=np.NaN)
data.capital = data.capital_gain - data.capital_loss
data = data.drop(columns=['capital_loss','capital_gain'])

In [28]:
data.head(100)

,name,state,age,sex,birth_month,race,marital_status,occupation,pregnant,relationship,skewness_glucose,mean_glucose,kurtosis_glucose,education,fnlwgt,class,std_glucose,income,native_country,hours_per_week,workclass,mean_oxygen,std_oxygen,kurtosis_oxygen,skewness_oxygen,capital
0,Roscoe Bohannon,OH,58.0,Male,3.0,White,Never-married,Other-service,0.0,Not-in-family,-0.099526,119.242188,0.012622,9.0,321896.0,0.0,49.065286,<=50K,United-States,40.0,Private,3.088629,18.705663,8.293978,82.132497,0.0
1,Ernest Kline,IN,57.0,Female,11.0,Amer-Indian-Eskimo,Divorced,Exec-managerial,0.0,Own-child,2.396809,82.070312,0.860951,11.0,134220.0,0.0,38.530261,<=50K,United-States,40.0,Private,0.594482,9.956608,20.702696,469.692706,0.0
2,Harold Hendriks,CO,59.0,Male,12.0,White,Married-civ-spouse,Adm-clerical,0.0,Husband,4.797428,78.218750,1.540387,9.0,27432.0,1.0,40.637871,>50K,United-States,40.0,Federal-gov,21.150502,54.938601,2.492557,4.843070,0.0
3,Randy Baptiste,CA,66.0,Female,3.0,White,Married-civ-spouse,Other-service,0.0,Wife,11.184030,61.718750,2.266661,13.0,159442.0,1.0,32.301543,<=50K,United-States,40.0,Private,14.749164,47.314987,3.201232,9.087747,0.0
4,Anthony Colucci,CO,64.0,Male,12.0,White,Never-married,Other-service,0.0,Own-child,27.815414,21.304688,5.146317,10.0,219211.0,1.0,35.907555,<=50K,United-States,20.0,Private,128.984114,66.955413,0.020190,-0.595560,0.0
5,Ronald Lange,CA,54.0,Female,5.0,White,Never-married,Adm-clerical,0.0,Own-child,-0.523368,124.085938,0.152932,9.0,198822.0,0.0,58.169476,<=50K,United-States,35.0,Private,2.123746,13.836470,9.332406,118.608130,0.0
6,Boyd Eiselein,VA,53.0,Male,5.0,White,NaN,Exec-managerial,0.0,Husband,13.071115,69.906250,3.154100,12.0,122206.0,1.0,34.185258,>50K,United-States,50.0,Self-emp-inc,56.795987,73.598921,1.200914,0.280631,0.0
7,Raymond Smith,MA,30.0,Male,7.0,Asian-Pac-Islander,Married-civ-spouse,Prof-specialty,0.0,Husband,1.835289,76.484375,0.898881,13.0,123983.0,0.0,40.383510,>50K,Japan,55.0,Private,2.721572,20.050694,8.333821,74.801484,0.0
8,Harold Miller,GA,60.0,Male,3.0,White,Never-married,Other-service,0.0,Own-child,-0.078188,129.820312,0.101646,7.0,194612.0,0.0,47.896443,<=50K,United-States,25.0,Private,1.668060,13.511707,10.756981,144.064087,0.0
9,Charles Czachorowski,DC,52.0,Female,6.0,Black,Never-married,Machine-op-inspct,0.0,Unmarried,6.657364,60.617188,1.990753,9.0,97136.0,1.0,36.952909,<=50K,United-States,40.0,Private,20.839465,55.877877,2.743937,6.500109,0.0
10,Robert Grantham,AK,52.0,Female,12.0,White,Never-married,Tech-support,0.0,Unmarried,14.987958,32.593750,3.692952,9.0,169152.0,1.0,40.189092,<=50K,United-States,40.0,Private,40.114548,63.572210,1.456446,1.104743,0.0
11,Joel Lam,IA,53.0,Male,12.0,White,NaN,Sales,0.0,Not-in-family,1.100304,100.476562,0.616799,13.0,204374.0,0.0,44.479975,<=50K,United-States,48.0,Private,10.836120,41.875571,3.938706,14.570697,-1741.0
12,Irving Gil,TX,68.0,Male,4.0,White,Never-married,Handlers-cleaners,0.0,Own-child,29.914913,36.664062,5.034696,9.0,198668.0,1.0,30.379186,<=50K,United-States,40.0,Private,30.020903,57.024950,2.168781,4.052715,0.0
13,Terry Reynolds,WI,41.0,Female,4.0,White,Married-civ-spouse,Exec-managerial,0.0,Wife,-0.311290,131.414062,0.038402,10.0,105862.0,0.0,51.043108,>50K,United-States,70.0,Private,5.186455,28.833791,6.099873,38.295007,0.0
14,Kurt Littlefield,RI,33.0,Male,3.0,White,Married-civ-spouse,Exec-managerial,0.0,Husband,1.716127,109.773438,0.346857,13.0,190525.0,0.0,39.304941,>50K,United-States,55.0,Private,2.877926,18.395328,8.221997,77.196524,7298.0
15,Andy Grayson,DC,54.0,Female,3.0,White,Married-civ-spouse,Prof-specialty,0.0,Wife,-0.000520,113.562500,0.141474,13.0,43953.0,0.0,45.021132,<=50K,United-States,35.0,Private,1.548495,13.845486,11.789728,166.110401,0.0
16,Chauncey Suarez,LA,56.0,Male,1.0,White,Married-civ-spouse,Craft-repair,0.0,Husband,-0.545795,123.718750,-0.169079,9.0,213574.0,0.0,53.202581,<=50K,United-States,10.0,Self-emp-inc,2.168060,13.599602,9.476554,124.215378,2635.0
17,Wallace Street,NY,66.0,Male,5.0,Asian-Pac-Islander,Married-civ-spouse,Prof-specialty,0.0,Husband,1.208628,99.835938,0.585857,14.0,79586.0,1.0,39.324328,>50K,India,40.0,Self-emp-inc,2.169732,15.917233,9.750991,112.633938,0.0
18,Daniel Crossman,LA,54.0,Female,1.0,White,Married-civ-spouse,NaN,0.0,Wife,0.163764,108.773438,0.244125,13.0,100903.0,0.0,48.609447,<=50K,United-States,25.0,NaN,4.207358,22.678437,7.037458,57.105779,0.0
19,Steve Ripp,NC,37.0,Male,10.0,White,Married-civ-spouse,Transport-moving,0.0,Husband,-0.265510,136.914062,0.042939,9.0,114060.0,0.0,52.223831,<=50K,United-States,40.0,Local-gov,3.691472,20.745736,7.351432,60.879448,0.0
20,George Hairston,NJ,50.0,Male,11.0,White,Married-civ-spouse,Prof-specialty,0.0,Husband,-0.067414,128.023438,0.170496,11.0,55395.0,0.0,44.114458,>50K,United-States,40.0,Private,2.332776,13.698606,9.603359,126.464546,0.0
21,Jeffrey Taylor,AA,52.0,Male,10.0,White,Married-civ-spouse,Sales,0.0,Husband,0.119019,114.960938,0.419055,13.0,162298.0,0.0,46.562861,>50K,United-States,70.0,Self-emp-not-inc,1.793478,18.236875,11.194430,131.251785,0.0
22,David Mealy,DE,32.0,Female,9.0,White,NaN,Adm-clerical,0.0,Own-child,2.068824,84.210938,0.667546,9.0,164395.0,0.0,37.429236,<=50K,United-States,25.0,Private,2.446488,15.453663,9.292014,105.991323,0.0
23,Garfield Bowen,LA,40.0,Male,11.0,White,Married-civ-spouse,Craft-repair,0.0,Husband,-0.608043,123.148438,-0.049741,9.0,66614.0,0.0,60.996169,<=50K,United-States,40.0,Self-emp-inc,7.826087,35.629314,4.744215,22.021835,0.0
24,Thaddeus Mackerl,WV,44.0,Male,4.0,White,Separated,Handlers-cleaners,0.0,Unmarried,-0.091361,125.609375,-0.016635,9.0,220776.0,0.0,51.790780,<=50K,Poland,40.0,Private,18.428094,52.283802,2.765830,6.372460,0.0
25,Gerald Pack,OR,33.0,Male,12.0,White,Married-civ-spouse,Handlers-cleaners,0.0,Husband,0.292268,109.640625,0.336955,9.0,217198.0,0.0,47.339653,<=50K,United-States,10.0,Private,7.193144,29.418165,5.000635,27.138825,0.0
26,Jonathon Nemith,NC,35.0,Female,6.0,White,Married-civ-spouse,Farming-fishing,0.0,Other-relative,0.174486,91.171875,0.879048,3.0,339358.0,0.0,55.132385,<=50K,Mexico,45.0,Private,4.806856,28.326075,6.635072,45.799785,0.0
27,Roger Groce,NJ,57.0,Male,2.0,White,Never-married,Machine-op-inspct,0.0,Own-child,0.549780,105.273438,0.457031,3.0,88564.0,0.0,44.943665,<=50K,United-States,20.0,Private,1.336120,14.562829,12.406275,167.441533,0.0
28,Harold Odowd,GA,67.0,Male,4.0,White,Never-married,Sales,0.0,Not-in-family,0.201607,114.117188,0.332225,9.0,35459.0,0.0,44.517135,<=50K,United-States,40.0,Private,2.004181,15.985596,10.562915,131.943217,0.0
29,Stanley Forrest,NC,62.0,Female,11.0,White,Never-married,Craft-repair,0.0,Not-in-family,9.072248,59.437500,2.506677,10.0,42857.0,1.0,38.901669,<=50K,United-States,35.0,Self-emp-not-inc,30.692308,61.686287,2.069241,3.363576,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Tom Donohue,WA,71.0,Male,8.0,White,Married-civ-spouse,Exec-managerial,0.0,Husband,-0.118661,139.843750,0.132098,9.0,316211.0,0.0,44.294546,>50K,United-States,60.0,Private,26.542642,57.032268,2.191275,3.694817,0.0
71,Ronald Haven,IA,34.0,Male,9.0,Black,Married-civ-spouse,NaN,0.0,Husband,15.398741,16.539062,3.968126,12.0,270228.0,1.0,42.744865,>50K,United-States,40.0,NaN,109.183110,53.137096,0.871271,0.488218,7688.0
72,Patrick Jacobs,MS,42.0,Male,1.0,White,Married-civ-spouse,Craft-repair,0.0,Husband,2.541100,101.375000,0.145436,9.0,76893.0,0.0,34.693524,<=50K,United-States,40.0,Private,1.501672,11.120313,13.220632,245.152357,0.0
73,David Henderson,TN,80.0,Female,7.0,Asian-Pac-Islander,Never-married,Sales,0.0,Own-child,4.619828,76.835938,1.883285,10.0,150553.0,1.0,44.270083,<=50K,Philippines,18.0,Private,1.822742,14.565571,12.686022,182.240001,0.0
74,Walter Smith,KS,59.0,Male,12.0,White,NaN,Sales,0.0,Husband,8.699743,55.406250,2.834441,10.0,95280.0,1.0,41.321990,>50K,United-States,45.0,Self-emp-not-inc,113.538461,78.018785,-0.064315,-1.014782,99999.0
75,James Chandler,MD,59.0,Female,12.0,White,Never-married,Adm-clerical,0.0,Not-in-family,-0.756047,115.171875,0.137646,9.0,496526.0,0.0,60.880276,<=50K,United-States,40.0,Private,3.454849,24.834040,7.623345,59.094592,0.0
76,Jack Shortridge,IL,45.0,Male,12.0,White,Married-civ-spouse,Prof-specialty,0.0,Husband,2.371052,94.390625,0.740811,15.0,328949.0,0.0,37.913807,<=50K,United-States,60.0,Private,1.974080,14.086753,10.169329,129.942593,0.0
77,Conrad Walsh,MS,20.0,Female,2.0,White,Widowed,Adm-clerical,0.0,Not-in-family,1.649471,85.742188,0.538589,9.0,154205.0,0.0,38.909198,<=50K,United-States,10.0,Private,1.215719,13.895042,12.542178,171.061866,0.0
78,Gerald Snyder,SC,82.0,Male,1.0,Asian-Pac-Islander,Never-married,Tech-support,0.0,Not-in-family,1.671468,86.000000,0.923665,10.0,272669.0,1.0,43.321653,<=50K,United-States,40.0,Private,16.781773,49.509450,2.919011,7.441884,0.0
79,Gregory Lam,ND,43.0,Male,9.0,White,Never-married,Machine-op-inspct,0.0,Not-in-family,0.449698,123.867188,-0.004028,9.0,177625.0,0.0,41.518515,<=50K,United-States,40.0,Private,2.023411,16.012938,10.241640,120.348717,0.0
80,Brent Leffert,ID,54.0,Male,1.0,White,Never-married,NaN,0.0,Own-child,-0.185251,103.125000,0.376731,13.0,22966.0,0.0,53.530949,<=50K,United-States,35.0,NaN,2.382943,14.401685,9.338643,114.031917,0.0
81,Alton Eisele,WY,68.0,Female,8.0,White,Never-married,Prof-specialty,0.0,Not-in-family,2.962466,91.898438,0.698335,14.0,174112.0,0.0,34.546129,<=50K,United-States,40.0,Private,2.468227,18.679299,9.070288,90.448893,0.0
82,Bennie Barker,MN,67.0,Male,5.0,White,Never-married,Prof-specialty,0.0,Not-in-family,28.655975,11.820312,5.340502,13.0,69132.0,1.0,37.258270,<=50K,United-States,40.0,Private,146.725752,75.399449,-0.290785,-1.219307,0.0
83,Johnny Alexander,MN,36.0,Male,5.0,White,Never-married,Farming-fishing,0.0,Own-child,0.007833,119.210938,-0.000974,10.0,164658.0,0.0,48.684676,<=50K,United-States,60.0,Self-emp-inc,3.754181,27.502474,7.236287,50.755273,0.0
84,Darryl Bokor,AP,58.0,Female,2.0,White,Never-married,Priv-house-serv,0.0,Own-child,-0.609780,122.546875,0.067255,7.0,297246.0,0.0,56.703568,<=50K,United-States,9.0,Private,2.225753,16.740221,10.049017,115.420025,0.0
85,Doug Jackson,NE,42.0,Male,12.0,White,Married-civ-spouse,Exec-managerial,0.0,Husband,0.789404,121.679688,0.413928,9.0,99199.0,0.0,40.368601,<=50K,United-States,48.0,Private,0.949833,11.571032,15.340758,269.116702,0.0
86,Michael Teets,ND,38.0,Male,12.0,White,Married-civ-spouse,Machine-op-inspct,0.0,Husband,0.414500,128.656250,-0.133381,7.0,33487.0,0.0,47.107165,<=50K,United-States,40.0,Private,2.655518,14.868545,8.636293,100.090543,0.0
87,Travis Chambers,CA,57.0,Female,7.0,White,Married-civ-spouse,Craft-repair,0.0,Wife,-0.502458,130.921875,-0.176278,9.0,458558.0,0.0,52.732907,<=50K,United-States,40.0,Private,52.297659,80.034451,1.220369,-0.135713,0.0
88,Royce Criss,AE,62.0,Male,4.0,White,Never-married,Exec-managerial,0.0,Not-in-family,0.249390,122.460938,-0.217544,13.0,254293.0,0.0,47.507714,<=50K,United-States,45.0,Private,1.894649,14.983623,9.783737,114.905476,2174.0
89,Thomas Heister,RI,54.0,Male,2.0,White,Never-married,Handlers-cleaners,0.0,Not-in-family,11.563836,49.335938,3.335373,9.0,117963.0,1.0,43.590473,<=50K,United-States,60.0,Private,62.966555,71.463106,0.948149,-0.052174,0.0
90,Charles Brueggeman,KY,60.0,Male,8.0,White,Married-civ-spouse,Craft-repair,0.0,Husband,0.153184,114.820312,0.009286,7.0,193026.0,0.0,43.769537,<=50K,United-States,40.0,Private,3.674749,22.535488,6.554088,45.140037,0.0
91,Robert Killinger,AK,63.0,Female,8.0,White,Never-married,Exec-managerial,0.0,Not-in-family,0.506152,117.125000,0.310017,13.0,212798.0,0.0,45.037311,<=50K,United-States,45.0,Private,2.761706,20.822251,8.535226,77.368130,0.0
92,Johnny Reynolds,MN,55.0,Male,3.0,White,Married-civ-spouse,Exec-managerial,0.0,Husband,0.179710,101.046875,0.193583,13.0,232308.0,0.0,47.367061,>50K,United-States,40.0,Private,1.945652,14.019082,9.881600,123.968352,0.0
93,Melvin Wiggins,SD,34.0,Male,1.0,White,Separated,Craft-repair,0.0,Not-in-family,-0.639522,113.132812,0.097123,13.0,85244.0,0.0,56.996213,<=50K,United-States,40.0,Private,5.027592,25.016451,6.142165,41.664378,0.0
94,Harold Tshudy,GA,59.0,Female,9.0,White,Never-married,Prof-specialty,0.0,Not-in-family,0.190932,136.890625,-0.116846,16.0,101096.0,0.0,42.777812,>50K,United-States,65.0,Private,1.972408,14.315079,10.624558,141.632728,0.0
95,Alex Chinzi,HI,29.0,Male,9.0,White,Married-civ-spouse,Sales,0.0,Husband,0.151290,126.453125,-0.197473,13.0,181220.0,0.0,46.703831,>50K,United-States,40.0,Private,2.148829,16.842510,9.401411,100.334912,0.0
96,Lorenzo Mann,NV,36.0,Female,4.0,White,Divorced,Adm-clerical,0.0,Not-in-family,0.306772,112.703125,0.198637,9.0,196107.0,0.0,48.518901,<=50K,United-States,30.0,Private,5.045987,29.860440,6.237878,39.038030,0.0
97,Gary Rivers,MN,56.0,Male,5.0,Asian-Pac-Islander,NaN,Other-service,0.0,Husband,-0.174616,129.171875,0.133561,9.0,84737.0,0.0,51.540201,>50K,United-States,35.0,Local-gov,6.186455,34.033077,5.560734,29.891930,0.0
98,John Morgan,NC,67.0,Male,6.0,White,Married-AF-spouse,Sales,0.0,Husband,1.788843,97.023438,0.512951,9.0,98155.0,0.0,38.702686,<=50K,United-States,55.0,Private,2.587793,19.709678,8.504248,77.382055,0.0
99,Richard Deslauriers,ID,44.0,Male,3.0,White,Married-civ-spouse,Machine-op-inspct,0.0,Husband,4.137784,91.312500,0.864452,9.0,159016.0,0.0,33.083169,<=50K,United-States,38.0,Private,1.740803,13.909696,11.795919,172.334429,0.0

TODO:
- doplnit NaN hodnoty podla metod popisanych v zadani (najma tie ciselne).
- pozriet ciselne outliery, nahradzat podla metod v zadani
- doplnit marital-status cez relationship
- prieskumna analyza pre oxygeny, education, age, birth_month

In [29]:
#new_educ = data["std_glucose"]
"NaN: "+str(data["fnlwgt"].isnull().sum())

'NaN: 0'

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3933 entries, 0 to 3932
Data columns (total 26 columns):
name                3933 non-null object
state               3933 non-null object
age                 3933 non-null float64
sex                 3933 non-null object
birth_month         3933 non-null float64
race                3932 non-null object
marital_status      3540 non-null object
occupation          3695 non-null object
pregnant            3933 non-null float64
relationship        3933 non-null object
skewness_glucose    3932 non-null float64
mean_glucose        3933 non-null float64
kurtosis_glucose    3932 non-null float64
education           3933 non-null float64
fnlwgt              3933 non-null float64
class               3933 non-null float64
std_glucose         3933 non-null float64
income              3932 non-null object
native_country      3852 non-null object
hours_per_week      3933 non-null float64
workclass           3695 non-null object
mean_oxygen         3932 non-null float64
std_oxygen          3932 non-null float64
kurtosis_oxygen     3932 non-null float64
skewness_oxygen     3932 non-null float64
capital             3933 non-null float64
dtypes: float64(16), object(10)
memory usage: 829.6+ KB